#barraNavegacion{
    background-color: #819BA6;
}

#fondoPresupuesto{
    background-color: #EBEFF2;
    border-radius: 16px 16px 16px 16px;
    border: solid 2px #819ba670;
}

#fondoGasto{
    background-color: #EBEFF2;
    border-radius: 16px 16px 16px 16px;
    border: solid 2px #819ba670;
}

#fondoResultado{
    background-color: #3a949e;
    border-radius: 16px 16px 16px 16px;
}

#agregarGasto{
    background-color: #3a949e;
    border: #3a949e solid 1px;
}

#agregarGasto:hover{
    background-color: #69B7BF;
    border: #69B7BF solid 1px;
}

#punto{
    color: #3a949e;
}

.listaItems{
    background-color: #83828200;
}